<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                {% for item in viewTree %}
                    {% include 'atom/_core/ViewMenuItem.twig' %}
                {% endfor %}
                
            </ul>
        </div>
    </div>
</nav>