<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                {% for item in viewTree %}
                    {% include 'atom/_core/view-menu-item.twig' %}
                {% endfor %}
                
            </ul>
			
			<div class="nav navbar-nav navbar-right">
				<div class="navbar-item-padding">Annotations are <span class="label label-default tooltipEnabledSwitch">OFF</span></div>
			</div>
        </div>
    </div>
</nav>