<li class="dropdown">
    <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.label }} {% if(item.children) %}<span class="caret"></span>{% endif %}</a>
	{% if(item.children) %}
    
        <ul class="dropdown-menu has_3rd_level" role="menu">
			{% for child in item.children %}
				{% include 'atom/_core/ViewSubMenuItem.twig' with {'item': child} %}
            {% endfor %}
        </ul>
	{% endif %}
</li>