<div class="panel">
	<h4>Signup for our newsletter</h4>
	<p>
		Want to keep up on all the latest info? Give us your precious little email address! Do it meow!
	</p>
	<input type='text'><input type="button" class="button" value="Submit">
</div>