<div class="panel">
	<h4><span class="addTooltip" data-title="Here is where a person can sign up for the newsletter.">Signup for our newsletter</span></h4>
	<p>
		Want to keep up on all the latest info? Give us your precious little email address! Do it meow!
	</p>
	<input type='text'><input type="button" class="button" value="Submit">
</div>