<div class="btn-group pull-right addTooltip" data-placement="bottom" title="This is the main menu. It is more prominant than any other menu, is near the top of the screen, and is shown at all times.">
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}team">Team</a></button>
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}blog">Blog</a></button>
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}inner">Contact</a></button>
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}inner">Inner</a></button>
</div>