<div class="btn-group pull-right">
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}team">Team</a></button>
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}blog">Blog</a></button>
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}inner">Contact</a></button>
  <button type="button" class="btn btn-default"><a href="{{ ROOT }}inner">Catalog</a></button>
</div>