{% extends 'template/site.twig' %}

{% block PageContent %}
	<div class="row">
		<div class="col-sm-12">
			
			{% include 'molecule/header-body.twig' %}
			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			
			{% include 'molecule/dated-item-list.twig' %}
			
		</div>
	</div>
{% endblock %}