{% extends 'template/site.twig' %}

{% block PageContent %}
	<div class="row">
		<div class="large-12 columns">
			
			{% include 'molecule/HeaderBody.twig' %}
			
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			
			{% include 'molecule/DatedItemList.twig' %}
			
		</div>
	</div>
{% endblock %}