{% extends 'template/site.twig' %}

{% block PageContent %}
	<div class="row">
		<div class="col-sm-12 pad-top-10">
			
			{% include 'molecule/slideshow-hero.twig' %}
			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			
			{% include 'organism/widget-news.twig' %}
			
		</div>
		<div class="col-sm-6">
			 
			{% include 'organism/widget-blog.twig' %}
			
		</div>
		<div class="col-sm-12">
			
			{% include 'organism/widget-signup-newsletter.twig' %}
			
		</div>
	</div>
{% endblock %}