{% extends 'template/site.twig' %}

{% block PageContent %}
	<div class="row">
		<div class="col-sm-12 columns">
			
			{% set Header	= "It's an inner page, isn't it" %}
			{% include 'molecule/header-body.twig' %}
			
		</div>
	</div>
{% endblock %}